.navfija{
    top: 0;
    position: sticky;
    z-index: 1000;
}

.contenedor{
    margin: 2rem 0 0 0;
    padding: 0;
    box-sizing: border-box;

}

.contenedor_libros{
    width: 100%;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-wrap: wrap; */
}
    
.tools_libros{
    width: 13rem;
    position: fixed;
    padding: 5px;
}

.libros_toolbar_botones{
    margin: 0;
    padding: 0;
    display: flex;
    gap: .5rem;
}

.boton_toolbar{
    border: 1px solid grey;
    border-radius: 5px;
}
    /* .contenedor_libros{
        width: 100%;
        margin: 0;
        padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
} */

/* .contenedor_card_libros{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1; 
    overflow-y: auto;
    margin-left: 18rem;
} */
.contenedor_card_libros{
    display: grid;
    margin-left: 14rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));/*1fr 1fr 1fr 1fr; repeat(auto-fill, minmax(150px,1fr))*/
    grid-gap: 1rem;
}

.contenedor_lista_libros{
    max-width: 100%;
    margin-left: 14rem;
}

.contenedor_invisible{
    display: none;
}

.invisible_field{
    display: none;
}


/* .cat_libros{
    text-decoration: solid;
} */

.card_libro{
    /* max-width: 15rem; */
    transition: all 1s;
}

.card_libro_expanded{
    /* width: auto;
    grid-column-start: span 1;
    grid-column-end: span 3;
    grid-row-start: span 1;
    grid-row-end: span 3; */
    width: 30rem;
    height: 30rem;
    transition: all .5s;
    z-index: 101;
}

.libro_detail{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tabla_header{
    background-color: blueviolet;
}

.footer_lib{
    
    position: sticky;
    bottom: 0;
}