{% extends 'core/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}

    <div class="container p-4 shadow" style="max-width: 800px;">

        <h1>Nuevo Usuario</h1>

        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <button type="submit" class="btn btn-light shadow">Guardar</button>

        </form>
        
    </div>

{% endblock content %}
