{% extends 'core/base.html' %}

{% block title %}
    <h1>Crear Usuario</h1>    
{% endblock title %}

{% block content %}

    <div style="display: flex;gap: 15px;" class="py-3 ">
        <div class="">
            <a class="btn btn-primary" href='{% url 'usuarios:home' %}'>Usuarios</a>
        </div>
    
        <div class="">
            <a class="btn btn-primary" href='{% url 'core:home' %}'>Página principal</a>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

{% endblock content %}
