{% extends 'core/base.html' %}

{% block title %}
    <h1>Gestión de usuarios</h1>
{% endblock title %}

{% block content %}

    <div style="display: flex; gap: 15px;" class="py-3 ">
        
        <div class="">
            <a class="btn btn-primary" href='{% url 'usuarios:crearusuario' %}'>Nuevo Usuario</a>
        </div>

        <div class="">
            <a class="btn btn-primary" href='{% url 'usuarios:listarusuarios' %}'>Listar Usuarios</a>
        </div>
        
        <div class="">
            <a class="btn btn-primary" href='{% url 'core:home' %}'>Página principal</a>
        </div>
    </div>

{% endblock content %}
