{% extends 'core/base.html' %}

{% block title %}
    
{% endblock title %}

{% block content %}

<div class="container p-4 shadow" style="max-width: 800px;">

    {% if form.instance.pk %}
            <h1>Editar Libro</h1>
        {% else %}
            <h1>Crear Libro</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-light shadow my-3">Guardar</button>
    </form>
    
</div>

{% endblock content %}