{% extends 'core/base.html' %}

{% block title %}
{% endblock title %}

{% block content %}

<!-- <h1 class="cat_libros">Catálogo de libros</h1> -->

<div class="tools_libros card shadow" >
    
    
    <div class="libros_toolbar_botones" >
        
        {% if user.is_staff %}
            <div class="">
                <a class="btn btn-light shadow boton_toolbar" href='{% url 'libros:crearlibro' %}'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                        <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                    </svg>
                </a>
            </div>
        {% endif %}
            <div class="">
                <button value="card" id="lista_card" class="btn btn-light shadow boton_toolbar" onclick="cambia_lista_card()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-columns-reverse" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 .5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10A.5.5 0 0 1 4 .5m-4 2A.5.5 0 0 1 .5 2h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 4h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 8h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>
            </div>
        
        </div>
    

    <br>
    
    <div class="py-lg-4">
        <form action="{% url 'libros:listarlibros' %}" method="get">
            <label class="form-label">Enter para filtrar</label>
            <input class="form-control shadow" type="text" name="consulta" placeholder="Buscar...">
            
            <div class="switches" style="margin-top: 1rem;">
                
                <input type="radio" id="titulo" name="titulo" value="titulo" >
                <label for="titulo">Título</label><br>
                <input type="radio" id="autor" name="autor" value="autor">
                <label for="autor">Autor</label><br>
                <!-- <input type="checkbox" name="titulo" id="titulo" checked role="switch">
                <label for="titulo"> Título</label><br>
                <input type="checkbox" name="autor" id="autor" role="switch">
                <label for="autor"> Autor</label> -->
            </div>

        </form>
    </div>

    <span><small>{{seleccion}} de {{total}} registros</small></span>

</div>
<div class="contenedor_libros" >
    
    <div class="contenedor_card_libros" id="contenedor_card_libros" >


        {% for libro in libros  %}
            
            <div class="card shadow card_libro " id="card{{libro.id}}" >
                <div class="card-body">
                    <h3 class="card-title libro">{{libro.titulo}}</h5>
                    <h6 class="card-subtitle mb-2 libro"><strong>Autor:</strong> <a href={{libro.autor.url}}>{{libro.autor}}</a>  </h6>
                    <p class="card-text libro"><strong>Género:</strong> <small>{{libro.genero}}</small></p>
                    <p class="libro"><strong>ISBN:</strong> <small>{{libro.isbn}}</small></p>
                    <p class="invisible_field libro"><strong>Editorial:</strong> {{libro.editorial}}</p>
                    <p class="invisible_field libro"><strong>Año:</strong> {{libro.anio}}</p>
                    <p class="invisible_field libro"><strong>Idioma:</strong> {{libro.idioma}}</p>
                    <p class="invisible_field libro"><strong>Páginas:</strong> {{libro.paginas}}</p>
                    <p class="invisible_field libro"><strong>Stock:</strong> {{libro.stock}}</p>
                    <p class="invisible_field libro"><strong>Existencia:</strong> {{libro.existencia}}</p>
                    <p class="invisible_field libro"><strong>Nota:</strong> <small>{{libro.nota}}</small></p>
                </div>
    
                <!-- Menú Libro -->
                
                <div class="card-footer" style="display: flex;gap: 15px;" class="py-3 ">
                    {% if user.is_staff %}
                    <div class="">
                        <a class="btn btn-light shadow boton_toolbar" href='{% url 'libros:editarlibro' libro.id %}' >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="">
                        <a class="btn btn-light shadow boton_toolbar" href='{% url 'libros:eliminarlibro' libro.id %}'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </a>
                    </div>
                    
                    {% endif %}

                    <div class="">
                        <button class="btn btn-light shadow boton_toolbar" onclick="expand_card('card{{libro.id}}')"> <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" --> <!-- onclick="expand_card('card{{libro.id}}')" -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707"/>
                              </svg>
                        </button>
                        
                    </div>
                    
                </div>
                    
            </div>
    
        {% endfor %}
        
    </div>

    <div class="contenedor_invisible" id="contenedor_lista_libros">

        <table class="table table-striped table-hover">
            <tr>
                <th class="tabla_header">Titulo</th>
                <th class="tabla_header">Autor</th>
                <th class="tabla_header">Género</th>
                <th class="tabla_header">ISBN</th>
                <th class="tabla_header">Tools</th>
            </tr>

        {% for libro in libros %}
                <tr>
                    <td><small>{{libro.titulo}}</small></td>
                    <td><small>{{libro.autor}}</small></td>
                    <td><small>{{libro.genero}}</small></td>
                    <td><small>{{libro.isbn}}</small></td>
                    <td style="display: flex;gap:10px">
                        <a class="btn btn-light shadow boton_toolbar" href='{% url 'libros:editarlibro' libro.id %}' >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                        </a>
                        <a class="btn btn-light shadow boton_toolbar" href='{% url 'libros:eliminarlibro' libro.id %}'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </a>
                        <div class="">
                            <button class="btn btn-light shadow boton_toolbar" onclick="expand_card('card{{libro.id}}')"> <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" --> <!-- onclick="expand_card('card{{libro.id}}')" -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707"/>
                                </svg>
                            </button>
                        
                        </div>
                    </td>
                    
                </tr>
        {% endfor %}

        </table>

    </div>

</div>


{% endblock content %}