{% load static %}

<nav class="navbar shadow navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core:home' %}">
            <img src= "{% static 'core/img/logo_color.png' %}" alt="BC" width="40" height="40">
        </a>
        <a class="navbar-brand" href="{% url 'core:home' %}">Biblioteca Cervantes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          {% if user.is_authenticated %} 
            
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Libros
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'libros:listarlibros' %}">Catálogo de Libros</a></li>
              <li><a class="dropdown-item" href="{% url 'libros:listarautores' %}">Catálogo de Autores</a></li>
              <li><a class="dropdown-item" href="{% url 'libros:listargeneros' %}">Géneros Literarios</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Revistas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Listar Revistas</a></li>
              <li><a class="dropdown-item" href="#">Listar Categorías</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prestamos:listarprestamos' %}">Préstamos</a>
          </li>

          {% if user.is_staff %}
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuarios
              </a>
              <ul class="dropdown-menu">
                
                <li><a class="dropdown-item" href="{% url 'usuarios:listarusuarios' %}">Listar Usuarios</a></li>
                <li><a class="dropdown-item" href="{% url 'usuarios:crearusuario' %}">Nuevo Usuario</a></li>
              
              </ul>
            </li>

          {% endif %}

          <li class="nav-item">
            <span class="nav-link"><strong class="text-bg-success px-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 20 20">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
               {{ user.username }}
            </strong></span>
          </li>
          <li class="nav-item">
            <form action="{% url 'core:logout' %}" method="post">
              {% csrf_token %}
              <input type="submit" class="nav-link" value="LogOut">
            </form>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href= "{% url 'core:nosotros' %}" >Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href= "{% url 'core:login' %}" >LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href= "{% url 'core:registro' %}" >Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

