{% extends 'core/base.html' %}

{% block title %}
        <h1>Página principal Biblioteca</h1>
{% endblock title %}

{% block content %}
    <ul style="display: flex; gap: 10px; margin: 0; padding: 0;">
        <li style="list-style: none;"><a class="btn btn-primary" href='{% url 'usuarios:home' %}'>Ir a Usuarios</a></li>
        <li style="list-style: none;"><a class="btn btn-primary" href='{% url 'libros:home' %}'>Ir a Libros</a></li>
        <li style="list-style: none;"><a class="btn btn-primary" href=''>Ir a Prestamos</a></li>
    </ul>
{% endblock content %}

<div class="py-5 ">
    <a class="btn btn-primary" href='{% url 'core:home' %}'>Página principal</a>
</div>