{% extends 'core/base.html' %}


{% block title %}
    
{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        {{mensaje}}
    {% endif %}

    <div class="container " style="display: flex;justify-content: center;align-items: center;height: 60vh;";>
        <div class=" ">
            <strong class="display-3 fw-bold">{{cita}}</strong>
            <em><p class="display-5 fw-light fst-italic ">{{autor}}</p></em>
        </div>
        
    </div>
    
{% endblock content %}

<div class="py-5 ">
    <a class="btn btn-primary" href='{% url 'core:home' %}'>Página principal</a>
</div>