{% extends 'core/base.html' %}

{% block title %}
    <div class="container mt-3 mb-3 ">

        <h1 class="display-5 ">
            <strong>Biblioteca Cervantes:</strong> Donde la Cultura Crea Horizontes
        </h1>

    </div>
{% endblock title %}

{% block content %}

    <div class="container mt-3 ">

        <p class="fs-4  fw-lighter">
            En la Biblioteca Cervantes, nos comprometemos a ser más que un simple depósito de libros; somos un faro cultural arraigado en los principios de acceso equitativo, aprendizaje continuo y comunidad vibrante. Inspirados por la rica herencia literaria de Miguel de Cervantes, nuestro compromiso con la excelencia y la diversidad impulsa cada aspecto de nuestra misión.
        </p>

        <div class="container mt-5">

            <h3 class="fs-2">
                Valores Fundamentales
            </h3>
            <ul>
                <li>
                    <strong>Accesibilidad:</strong><br><span class="fw-lighter">Creemos en el acceso universal al conocimiento y la cultura. Nos esforzamos por eliminar las barreras físicas, económicas y sociales que impiden el acceso a la información y la educación. Nuestra biblioteca está abierta y acogedora para todos, independientemente de su origen, estatus socioeconómico o habilidades.</span>
                </li>
                <li>
                    <strong>Excelencia Académica:</strong><br><span class="fw-lighter">Defendemos los más altos estándares de calidad en todos nuestros servicios y recursos. Desde la selección de libros hasta los programas educativos, nos esforzamos por proporcionar materiales de primera categoría y experiencias enriquecedoras que fomenten el aprendizaje y la excelencia académica.</span>
                </li>
                <li>
                    <strong>Innovación:</strong><br><span class="fw-lighter">Nos comprometemos a mantenernos a la vanguardia de las últimas tecnologías y tendencias en bibliotecología. Buscamos constantemente nuevas formas de mejorar nuestros servicios, facilitar el acceso a la información y promover la alfabetización digital entre nuestros usuarios.</span>
                </li>
                <li>
                    <strong>Cultura y Patrimonio:</strong><br><span class="fw-lighter">Reconocemos y celebramos la riqueza cultural y el patrimonio literario como pilares fundamentales de nuestra identidad. Nos dedicamos a preservar, promover y difundir la cultura, la historia y la literatura, tanto a nivel local como global, a través de nuestra colección de libros, actividades culturales y colaboraciones comunitarias.</span>
                </li>
                <li>
                    <strong>Colaboración y Comunidad:</strong><br><span class="fw-lighter">Creemos en el poder transformador de la colaboración y el intercambio de ideas. Trabajamos en estrecha colaboración con organizaciones locales, instituciones educativas y la comunidad en general para fomentar el diálogo, la participación cívica y el enriquecimiento mutuo.</span>
                </li>
        
            </ul>

        </div>

    </div>
{% endblock content %}